<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoffeeConnectionString" connectionString="Data Source=AIGUL-DELL;Initial Catalog=Coffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InterfaceСППР.Properties.Settings.CoffeeConnectionString"
            connectionString="Data Source=DESKTOP-1TR4J70;Initial Catalog=Coffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InterfaceСППР.Properties.Settings.CoffeeConnectionString1"
            connectionString="Data Source=AIGUL-DELL;Initial Catalog=Coffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>